
@import "bootstrap-sprockets";
@import "bootstrap";

.home-page {
  color: red;
}

.list ul {
  list-style: none;
}

.data ul {
  background-color: gray;
  color: white;
  border-radius: 4px;
  list-style: none;
  width: 45%;
  height: 100px;
  padding-top: 20px;
  display: inline-block;
}

.search-bar {
  float: right;
  padding: 30px 15px;
  font-size: 18px;
  line-height: 20px;
  width: 204px;
}

input#search.form-control {
  border-radius: 4px;
}

h2.navbar-header.navbar-brand {
  color: red;
  display: block;
  width: 100%;
}
